<!DOCTYPE html>

<html>
	<title>Hi</title><!--title-->
	<body>
		<h1>Hi there {{name}}, how's it going?</h1><!--greets the person-->
		<p>
			<!--insults the person-->
			JK i don't care cuz u {{name}} r stupid.<br>
			Also I have your ssn!<br>
			~sending {{ssn}} to all contacts<br>
			u r so gullable {{name}} that I am going to show what my data says about you.<br>
			~{{name}} is a stupid piece of crap and {{pro}} is going to Jupiter to get more stupider.<br>
			That's about all I have about u {{name}}, good bye.<br>
		</p>
		<a href="/">Go Back</a><!--when clicked brings them back-->
	</body>
</html>
