<!DOCTYPE html>

<html>
	<title>Hi</title><!--title-->
	<body>
		<h1>What's your name?</h1><!--asks for the name-->
		
		<!--the form to get the data-->
		<form method="POST" autocomplete="off">
			<label for="name">Name:</label><br>
			<input type="text" id="name" name="name"><br>
			
			<label for="pro">Pronoun</label><br>
			<input type="text" id="pro" name="pro"><br>

			<label for="ssn">SSN</label><br>
			<input type="text" id="ssn" name="ssn"><br>
			<br>
			<input type="submit" value="Submit">
		</form>

		<br><a href="/data">See Data</a><!--when clicked sends them to the data-->
	</body>
</html>
